[submodule "flexiv_description"]
	path = flexiv_description
	url = https://github.com/flexivrobotics/flexiv_description.git
	branch = humble
[submodule "flexiv_rdk"]
	path = flexiv_rdk
	url = https://github.com/flexivrobotics/flexiv_rdk.git
